/files/
/output_files/
/elastic_data/
/parsedmarc/GeoLite2-*
.DS_Store
.old
archive_files.log
fetch_attachments_config.json
fetch_attachments.log
weekly_report.log
/reports/
/.idea/
.venv/
__pycache__/
*.pyc
.pytest_cache/
.coverage
htmlcov/
